# Manage dotfiles
alias dots='/usr/bin/git --git-dir=$HOME/.config/dots --work-tree=$HOME'

# Correct common mistakes
alias cd..='cd ..'

# Shorthands for ls
alias l='ls'
alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'
alias llaa='ls -laa' # specific to exa, equivalent to -la with ls proper

# Create parent directories if needed by default
alias mkdir='mkdir -p'

# Resume download by default
command -v wget > /dev/null 2>&1 && alias wget='wget -c'

# Replace some programs
command -v exa > /dev/null 2>&1 && alias ls='exa --classify --git'
command -v bat > /dev/null 2>&1 && alias cat='bat'
command -v yay > /dev/null 2>&1 && alias pacman='yay'
command -v vim > /dev/null 2>&1 && alias vi='vim'
command -v nvim > /dev/null 2>&1 && alias vim='nvim'
