# Correct common mistakes
alias cd..='cd ..'

# Create parent directories if needed by default
alias mkdir='mkdir -p'

# Resume download by default
command -v wget > /dev/null 2>&1 && alias wget='wget -c'

# Add color by default
if command -v exa > /dev/null 2>&1; then
    alias ls='exa'
elif [[ "$(uname -s)" == "Linux" ]]; then
    alias ls='ls --color=always'
fi

# Hash functions
alias md5='openssl md5'
alias sha='openssl sha'
alias sha1='openssl sha1'
alias sha224='openssl sha224'
alias sha256='openssl sha256'
alias sha384='openssl sha384'
alias sha512='openssl sha512'

# Miscellaneous
command -v bat > /dev/null 2>&1 && alias cat='bat'
command -v git > /dev/null 2>&1 && alias diff='git diff'
command -v aurman > /dev/null 2>&1 && alias pacman='aurman'
command -v subl3 > /dev/null 2>&1 && alias subl='subl3'
command -v vim > /dev/null 2>&1 && alias vi='vim'
command -v /Applications/Karabiner.app/Contents/Library/bin/karabiner > /dev/null 2>&1 && alias karabiner='/Applications/Karabiner.app/Contents/Library/bin/karabiner'
command -v /Applications/Seil.app/Contents/Library/bin/seil > /dev/null 2>&1 && alias seil='/Applications/Seil.app/Contents/Library/bin/seil'

if command -v xinput > /dev/null 2>&1; then
    if xinput --query-state bcm5974 > /dev/null 2>&1; then
        alias disable_tp='xinput disable bcm5974'
        alias enable_tp='xinput enable bcm5974'
    fi
    if xinput --query-state 'Apple Inc. Apple Internal Keyboard / Trackpad' > /dev/null 2>&1; then
        alias disable_kb='xinput disable "Apple Inc. Apple Internal Keyboard / Trackpad"'
        alias enable_kb='xinput enable "Apple Inc. Apple Internal Keyboard / Trackpad"'
    fi
fi
